@using VirtualOffice.Web.Infrastructure
@{
    Layout = null;
}
<nav class="navbar navbar-default" id="secundaryNavbar" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="secundaryMenu">
            <ul class="nav navbar-nav">
                <li class="@Utils.GetListItemClassByUrl(Request.Url.ToString(),Url.Action("ChangePassword", "MyProfile"))" id="passwordMenuItem"><a href="@Url.Action("ChangePassword", "MyProfile")">Password Change <span class="badge"></span></a></li>
                <li class="@Utils.GetListItemClassByUrl(Request.Url.ToString(), Url.Action("PersonalInfo", "MyProfile"))" id="personalInfoMenuItem"><a href="@Url.Action("PersonalInfo", "MyProfile")">Personal Info <span class="badge"></span></a></li>    
            </ul>
        </div>
    </div> 
</nav> 


