@model VirtualOffice.Web.Models.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_NewUserLayout.cshtml";
}
@Html.Partial("MyProfileNavigation")

<div class="container select" id="main">

    <!-- <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="msg"></span>
    </div> -->

    <div class="page-header">
        <h4>My Profile Changes </h4>
        <a class="btn text-primary pull-right" href="mailto:blackstone@blackstoneonline.com"><span class="fa fa-envelope"></span> Check my email</a>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-sm-push-9 col-md-push-10" id="sidebar">

        </div>

        
    </div>

</div>